*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.orange{
    color: #FD6E0A;    
}
.btn {
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    cursor: pointer;

}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
    
}
.section-heading h2{
     /* font-size: 35px; */
     font-size: 35px;
     margin-bottom: 30px;
}
.text-center{
    text-align: center;
}
header{
    background-color: #FFF8F3;
    background: url(../images/developer.png), url(../images/header_bg.png),#FFF8F3;
    background-position: 23px 38px,bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}
.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}
nav{
    width: 77%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
nav .menu a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
#banner{
    margin: 75px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner{
   margin: 50px 5px 0 185px;
    display: flex;
   justify-content: space-between;
   align-items: center; 
}
#banner .banner-content h1{
    max-width: 585px;
}
#banner .banner-content h2 {
    font-size: 45px;
    font-weight: 600;
    color:#474747;
    margin-bottom:5px ;

}
#banner .banner-content h1{ 
    font-size: 60px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{ 
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

#banner .banner-image img{
    max-width: 500px;
    vertical-align:middle;
}
#about, #sikils, #resume {
    padding-top: 100px;
}
#about .about-container{
    width:75% ;
    max-width: 1160px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3; 
    /* padding: 131px 156px; */
    padding: 115px 145px;
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}
.about-info .info-card p{
    font-size: 20px;
    
}
#skills{
    /* padding-top:100px; */


}
#skills .skills-center{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
.skills-center .skills-box{
    display: flex;
    gap: 24px;
}
.skills-box .skills-card{
    padding: 10px;
     max-width: 267px; 
    
    box-shadow: 0 6px 50px 0 #999696;
}
.skills-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skills-card h3{
    font-size: 16px;
    color: #181818;
    margin-bottom: 20px;
}
.skills-card p{
     font-size: 14px;
    color: #757575;
    line-height: 28px;
    /* width: 200px; */
    
}
/* #resume .resume-contner{
   width: 71%;  
   max-width: 1140px;
   margin: 113px auto 0;
   gap: 24px;
   display: flexbox;
   
} */
 .resume-container hr{
    margin: 30px 0;
 }
 #resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
 }
 .resume-container .section-titie{
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
 }
.resume-card{
    max-width: 511px;
    margin-right: 47px;

}
 .resume-card .card-titel{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;

}
.resume-card .card-info{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}

.resume-card .card-text{
    font-size: 15px;
    line-height: 28px;
    
    color: #757575;
}


footer{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0;
}

footer .footer-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto; 
    display: flex;
    gap: 116px;
}
.footer-container .social{
    max-width: 562;
}
.footer-container h2{
    color: #181818;
    font-size: 25px;
    margin-bottom: 20px;
}
.footer-container p{
    color: #474747;
    line-height: 28px;
    font-size: 12px;
    margin-bottom: 25px;
}
.footer-container .icons a{
    margin-right: 24px;
}
.footer-container form input[type="text"] {
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px; 
    border: none;
    border-radius: 5px;
    color: #757575;
}
.footer-container form textarea{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px; 
    border: none;
    border-radius: 5px;
    color: #757575;
}

